._dash-undo-redo { /* Hide undo button */
  display: none !important; 
}  

.nav-item {
    background-color: transparent !important;
}

.bg-primary .nav-link.active {
    background-color: #007bff!important
}

.bg-secondary .nav-link.active {
    background-color: #6c757d!important
}

.bg-success .nav-link.active {
    background-color: #28a745!important
}

.bg-info .nav-link.active {
    background-color: #17a2b8!important
}

.bg-warning .nav-link.active {
    background-color: #ffc107!important
}

.bg-danger .nav-link.active {
    background-color: #dc3545!important
}

.bg-light .nav-link.active {
    background-color: #f8f9fa!important
}

.bg-dark .nav-link.active {
    background-color: #343a40!important
}

.bg-white .nav-link.active {
    background-color: #fff!important
}

.bg-transparent .nav-link.active {
    background-color: transparent!important
}

.small-box .icon > svg {
	font-size: 70px; 
	top: 15px;
	right: 15px;
}

.small-box:hover .icon > svg {
	font-size: 75px;
}

.card-box {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px; 
}

.card-box:hover {
	box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}